.profile-img{
	height: 200px;
	width: 200px;
	background-size: cover;
	overflow: hidden;
	background-position: center;
}

.profile-img img{
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	cursor: pointer;
	vertical-align: bottom;
	transition: .3s ease;
	background-position: center;
}

.profile-img img:hover{
	transition: .3s ease;
	transform: scale(1.05);
}

.profile-img .ganti-foto {
	position: relative;
	margin-top: -30%;
	width: 100%;
	border: none;
	border-radius: 0;
	outline: none;
	font-size: 15px;
	cursor: pointer;
	color: white;
	background: #212529b8;
 }

 .profile-img .ganti-foto:hover{
	background: #212529e0;
	cursor: pointer;
 }

.profile-img .ganti-foto input {
	position: absolute;
	opacity: 0;
	right: 0;
	cursor: pointer;
	top: 0;
}

.profile-img .ganti-foto input:hover{
	background: #212529e0;
	cursor: pointer;
}

.btn-edit-profil:hover {
	box-shadow: 0 2px 6px #212529e0;
	background-color: #212529e0 !important;
	cursor: pointer;
	border-color: #212529e0 !important;
}