.profile-img {
	height: 180px;
	width: 180px;
	background-size: cover;
	overflow: hidden;
	background-position: center;
}

.profile-img img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	cursor: pointer;
	vertical-align: bottom;
	transition: .3s ease;
	background-position: center;
	border-radius: 4px;
}

.profile-img img:hover {
	transition: .3s ease;
	transform: scale(1.05);
}

.profile-img .ganti-foto {
	position: relative;
	margin-top: -32%;
	width: 100%;
	border: none;
	border-radius: 0;
	outline: none;
	padding: 6px;
	font-size: 12px;
	cursor: pointer;
	color: white;
	background: #d62d2e;
}

.profile-img .ganti-foto:hover {
	background: #ca1313;
	cursor: pointer;
}

.profile-img .ganti-foto input {
	position: absolute;
	opacity: 0;
	right: 0;
	cursor: pointer;
	top: 0;
}

.profile-img .ganti-foto input:hover {
	background: #ca1313;
	cursor: pointer;
}

.btn-edit-profil:hover {
	box-shadow: 0 2px 6px #ca1313;
	background-color: #ca1313 !important;
	cursor: pointer;
	border-color: #ca1313 !important;
}

.cover {
	background-size: cover;
	overflow: hidden;
}

.cover img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.section-profile {
	width: 100%;
	position: absolute;
	top: 0;
	margin-top: 37vh;
	z-index: 20;
}

.img-content{
	position: relative;
	display: flex;
	margin-left: 100px;
}

.profile-foto-item {
	z-index: 999;
	transition: .3s ease;
}

.profile-foto-item img{
	transition: .3s ease;
	width: 180px; 
	height:180px; 
	border: solid #f2f2f2 6px; 
	object-fit:cover
}

.profile-foto-item img:hover{
	transition: .3s ease;
	transform: scale(1.05);
}

.identitas{
	width: 100%;
	margin-left: 300px;
}

.btn-kembali{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	margin-top: 100px;
	margin-right: 25px;
}

@media (max-width: 991px) {
	.img-content{
		margin-left: 0;
		justify-content: center;

	}
	.identitas{
		margin-left: 0;
		margin-top: 60px;
	}

	.nama-profile{
		text-align: center;
	}

	.jenis-krama-profile{
		text-align: center;
	}
	.badges-profile{
		justify-content: center;
	}

	.badges-profile #block-status div{
		margin-right: 0 !important;
	}

	.text-icon-profile{
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 10px;
	}

	.informasi{
		margin-top: 20px;
	}
 }